.login-logo {
    height: 120px;
    aspect-ratio: 1;
    object-fit: contain
}
.header-logo {
    height: 60px;
    aspect-ratio: 1;
    object-fit: contain
}
div:where(.swal2-container) button:where(.swal2-close):focus {
    box-shadow: 0 0 0 0 !important;
}
